.skeletonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 5px;
}

.skeleton {
    background: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;
    border-radius: 4px;
}

.skeletonText {
    width: 100%;
    height: 50px;
}

.skeletonAvatar {
    width: 70%;
    height: 50px;
}

.skeletonButton {
    width: 50%;
    height: 40px;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #d0d0d0;
    }

    100% {
        background-color: #e0e0e0;
    }
}