.server-issue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .server-issue-content {
    text-align: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(207, 207, 207, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    color: #f27f20;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    color: #5a5a5a;
    margin-bottom: 1rem;
  }
  
  .login-button {
    background-color: #f27f20;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #f08f40;
  }
  