.createTableMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    min-width: 400px;
}

.CreateNewCategory input,
.DifferentOption select,
.DeleteCategory select {
    padding: 5px 15px;
    outline: none;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #c5c5c5;
}

.CreateNewCategory {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}


.CreateNewCategory button {
    padding: 5px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: #858585;
    color: #f7f7f7;
    transition: ease-in-out 0.2s;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.CreateNewCategory button:hover {
    background-color: #e0e0e0;
    color: #858585;
}

.CreateNewSubCategory, .DeleteCategory, .RenameCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.DeleteCategory label{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #6e6e6e;
}

.RadioOptionMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    overflow-y: scroll;
    height: 300px;
}

.MainCategorySelectRadio {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}
.MainCategorySelectRadio p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #a2a2a2;
}
.CategoryRadio{
    display: flex;
    gap: 20px;
    align-items: center;
}