@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.manage-footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.support-text-div,
.connected-text-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    padding: 5px;
}

.support-text-div h2,
.support-text-div div label,
.support-text-div div input,
.connected-text-div h2,
.connected-text-div input {
    font-family: "Roboto", serif;
    color: rgb(87, 87, 87);
}

.support-text-div div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.support-text-div div input,
.connected-text-div input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

.footer-button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    font-family: "Roboto", serif;
    color: rgb(19, 19, 19);
    font-weight: 600;
    cursor: pointer;
}