.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 80%;
    
}

.pagination button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;

}
.pageButton{
    color: #5f5f5f;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.active{
    background-color: rgb(173, 173, 173);
    color: aliceblue;
}

.previous, .next, .firstLast{
    background-color: rgb(193, 193, 193);
    color: aliceblue;
}


.previous:hover, .next:hover, .firstLast:hover{
    background-color: rgb(130, 130, 130);
    cursor: pointer;
}

.previous:disabled, .next:disabled, button:disabled , .firstLast:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
}